* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  color: white;
  background-image: url(./img/netflix-backround-image.jpg);
}

#form-container {
  max-width: 1240px;
  margin: auto;
  margin-top: 30px;
  background-color: rgba(0, 0, 0, 0.3);
}

#form-title {
  color: white;
  font-size: 3.1rem;
  font-family: "Bowlby One SC", cursive;
  letter-spacing: 5px;
}

span {
  color: red;
}

#form-description {
  font-family: "Sorts Mill Goudy", sans-serif;
  font-size: 1.4rem;
}

#form-header {
  text-align: center;
}

#survey-form-container {
  max-width: 500px;
  background-color: rgba(0, 0, 0, 0.8);
  margin: auto;
  padding: 10px;
}

#survey-form {
  max-width: 460px;
  margin: auto;
  font-size: 1rem;
}

#name,
#age,
#email,
#dropdown,
#feedback {
  width: 100%;
  padding: 10px 10px;
  margin-top: 5px;
}
.input-box {
  margin-top: 20px;
  font-size: 30px;
}
#form-button {
  width: 160px;
  height: 45px;
  background-color: red;
  color: white;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  border-radius: 50px;
}
#form-submit {
  width: 160px;
  margin: auto;
  margin-top: 15px;
}
